body {
    padding-top: 50px;
}
.filter-panel-column {
    padding-bottom: 10px;
}
.game-pagination {
    margin: 10px 0px;
}
.group-title {
    text-align: center;
}
.game-subtitle {
    font-size: 14px;
}
.game-panel-body {
    margin-top: 0px;
    height: 280px;
}
.game-cover-container {
    width: 40%;
    height: 100%;
}
.game-cover {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.game-info {
    height: 100%;
    overflow: auto;
}
.panel-title {
    line-height: 1.2;
}

.overflow-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.hand {
    cursor: pointer;
}
.half-height {
    height: 50%;
}
.full-height {
    height: 100%;
}
.list-column {
    overflow: auto;
}
.detail-column {
    overflow: auto;
    padding: 20px;
}
.page-header {
    padding-bottom: 0 !important;
    margin: 0 0 10px !important;
}
.collapse-icon {
    line-height: 2;
    font-size: 60%;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}