<div class="modal-header">
    <button type="button" class="close"></button>
    <h4 class="modal-title">
        <span ng-if="isNew">Add Game</span>
        <span ng-if="!isNew">Edit Game</span>
    </h4>
</div>
<form name="form">
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h4>Details</h4>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Title (required)" ng-model="model.title" ng-change="titleChanged()" name="title" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Developer" ng-model="model.developer" name="developer">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Publisher" ng-model="model.publisher" name="publisher">
                    </div>
                    <div class="form-group input-group" ng-class="{'has-error': form.year.$invalid}">
                        <input type="number" class="form-control" placeholder="Release year" ng-model="model.year" name="year" validate-year>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="yearButtonClicked()">
                                <span class="glyphicon glyphicon-calendar"></span> Now
                            </button>
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Sort as (required)" ng-model="model.sort_as" name="sort_as" required>
                    </div>
                    <div class="form-group" ng-class="{'has-error': form.playtime.$invalid}">
                        <input type="text" class="form-control" placeholder="Playtime (hh:mm:ss)" ng-model="model.playtime" name="playtime" ng-disabled="state == STATE_ON_WISHLIST" validate-timespan>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Comment" ng-model="model.comment" name="comment"></textarea>
                    </div>
                    <div class="form-group">
                        <span class="input-group">
                            <input type="text" class="form-control" ng-model="filename" placeholder="Cover image" readonly>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-file">
                                    <input type="file" id="image" accept="image/*" bind-element="image" onchange="angular.element(this).scope().fileChanged()">
                                    <span class="glyphicon glyphicon-picture"></span>
                                    Browse
                                </button>
                                <button type="button" class="btn btn-default" ng-click="clearImageInput()">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="panel panel-default form-control" ng-disabled="state == STATE_ON_WISHLIST">
                                <div class="panel-body" style="padding: 0;">
                                    <rating ng-model="model.rating" max="5" readonly="state == STATE_ON_WISHLIST"></rating>
                                </div>
                            </div>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default pull-right" ng-click="model.rating = null" ng-disabled="state == STATE_ON_WISHLIST">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="model.hidden">
                                Hidden from public
                            </label>
                        </div>
                    </div>
                    <h4>State</h4>
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="state" ng-value="STATE_DEFAULT" ng-change="defaultClicked()">
                                Default
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="state" ng-value="STATE_CURRENTLY_PLAYING" ng-change="currentlyPlayingClicked()">
                                Currently playing
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="state" ng-value="STATE_IN_QUEUE" ng-change="inQueueClicked()">
                                In queue
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="state" ng-value="STATE_ON_WISHLIST" ng-change="onWishlistClicked()">
                                On wishlist
                            </label>
                        </div>
                    </div>
                    <h4>Completion</h4>
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="model.finished" ng-value="gameService.NOT_FINISHED" name="finished" ng-disabled="state == STATE_ON_WISHLIST">
                                Not completed
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="model.finished" ng-value="gameService.FINISHED" name="finished" ng-disabled="state == STATE_ON_WISHLIST">
                                Completed
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="model.finished" ng-value="gameService.SHELVED" name="finished" ng-disabled="state == STATE_ON_WISHLIST">
                                Shelved
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="model.finished" ng-value="gameService.FINISHED_NA" name="finished" ng-disabled="state == STATE_ON_WISHLIST">
                                N/A
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>Genres</h4>
                    <div class="checkbox" ng-repeat="genre in genres | orderBy:'name'">
                        <label>
                            <input type="checkbox" ng-attr-value="{{genre.id}}" ng-checked="model.genre_ids.indexOf(genre.id) > -1" ng-click="genreClick(genre.id)">
                            {{genre.name}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>Platforms</h4>
                    <div class="checkbox" ng-repeat="platform in platforms | orderBy:'name'">
                        <label>
                            <input type="checkbox" ng-attr-value="{{platform.id}}" ng-checked="model.platform_ids.indexOf(platform.id) > -1" ng-click="platformClick(platform.id)">
                            {{platform.name}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>Tags</h4>
                    <div class="checkbox" ng-repeat="tag in tags | orderBy:'name'">
                        <label>
                            <input type="checkbox" ng-attr-value="{{tag.id}}" ng-checked="model.tag_ids.indexOf(tag.id) > -1" ng-click="tagClick(tag.id)">
                            {{tag.name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="formSubmit()" ng-disabled="form.$invalid">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button type="button" class="btn btn-danger" ng-if="!isNew" ng-click="deleteClick()">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button type="button" class="btn btn-default" ng-click="cancelClick()">Cancel</button>
    </div>
</form>