<div class="panel" ng-class="{'panel-success': game.finished == gameService.FINISHED, 'panel-default': game.finished != gameService.FINISHED}">
    <div class="panel-heading">
        <div class="btn-group btn-group-xs pull-right">
            <button type="button" class="btn btn-default" ng-click="linkCallback({game:game})">
                <span class="glyphicon glyphicon-link"></span>
            </button>
            <button type="button" class="btn btn-default" ng-if="gameService.authenticated && game.user_id == gameService.authenticatedUser.id" ng-click="editCallback({game:game})">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </div>
        <h1 class="panel-title overflow-ellipsis" title="{{game.title}}">
            {{game.mainTitle}}<span class="game-subtitle" ng-if="game.subTitle">: {{game.subTitle}}</span>
        </h1>
    </div>
    <div class="panel-body media game-panel-body" ng-style="heightStyle">
        <div class="media-left game-cover-container">
            <img class="media-object game-cover img-rounded" ng-if="game.image" ng-src="{{game.decachedImage}}" alt="Game cover">
            <div class="panel panel-default" ng-if="!game.image">
                <div class="panel-body text-center">
                    No cover image
                </div>
            </div>
        </div>
        <div class="media-body game-info">
            <div class="overflow-ellipsis">
                <span ng-if="game.developer">by <strong title="{{game.developer}}">{{game.developer}}</strong></span><br>
                <span ng-if="game.publisher && game.publisher != game.developer">
                    <span ng-if="game.developer">and</span>
                    <span ng-if="!game.developer">by</span>
                    <strong title="{{game.publisher}}">{{game.publisher}}</strong>
                </span><br>
            </div>
            <span ng-if="game.platform_ids.length > 0">
                for
                <strong ng-repeat="p in getPlatforms() | orderBy:'short_name'" title="{{p.name != p.short_name ? p.name : ''}}">
                    {{p.short_name}}<span ng-if="!$last">, </span>
                </strong>
            </span>
            <span ng-if="game.year">in <strong>{{game.year}}</strong></span><br>
            <strong ng-if="game.genre_ids.length > 0" ng-repeat="g in getGenres() | orderBy:'short_name'" title="{{g.name != g.short_name ? g.name : ''}}">
                {{g.short_name}}<span ng-if="!$last">, </span>
            </strong><br><br>
            <strong ng-if="game.finished == gameService.NOT_FINISHED">Not completed</strong>
            <strong ng-if="game.finished == gameService.FINISHED">Completed</strong>
            <strong ng-if="game.finished == gameService.SHELVED">Shelved</strong>
            <span ng-if="game.hasPlaytime()">
                <span ng-if="game.finished != gameService.FINISHED_NA">in</span>
                <strong>{{game.getPlaytimeDisplay()}}</strong>
            </span><br>
            <span uib-rating ng-model="game.rating" max="5" readonly="true" ng-if="game.hasRating()"></span>
            <br>
            <strong ng-if="game.tag_ids.length > 0" ng-repeat="t in getTags() | orderBy:'short_name'" title="{{t.name != t.short_name ? t.name : ''}}">
                {{t.short_name}}<span ng-if="!$last">, </span>
            </strong>
            <p ng-if="game.comment">
                {{game.comment}}
            </p>
        </div>
    </div>
</div>
