<div class="row text-center" ng-show="!ctrl.filtered.length && !queue.length && !currentlyPlaying.length && !suggestions.length">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>No results</h1>
        </div>
    </div>
</div>
<div ng-show="currentlyPlaying.length > 0">
    <div class="row text-center">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 ng-click="ctrl.collapseSection('currently_playing')" class="hand">
                    <span class="glyphicon pull-left collapse-icon glyphicon-chevron-{{ctrl.sections.currently_playing ? 'right' : 'down'}}"></span>
                    Currently Playing
                </h1>
            </div>
        </div>
    </div>
    <div class="row" collapse="ctrl.sections.currently_playing">
        <div class="col-lg-4" ng-repeat="game in currentlyPlaying = (ctrl.gameService.getVisibleGames() | search:ctrl.query | filter:{currently_playing: true} | orderBy:ctrl.sorting)">
            <game game="game"
                  link-callback="ctrl.openLinkDialog(game)"
                  edit-callback="ctrl.editClick(game)">
            </game>
        </div>
    </div>
</div>
<div ng-show="!currentlyPlaying.length && suggestions.length > 0 && ctrl.canShowAuthenticatedMenuItems()">
    <div class="row text-center">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 ng-click="ctrl.collapseSection('suggestions')" class="hand">
                    <span class="glyphicon pull-left collapse-icon glyphicon-chevron-{{ctrl.sections.suggestions ? 'right' : 'down'}}"></span>
                    <span class="glyphicon pull-right collapse-icon glyphicon-refresh" ng-click="ctrl.refreshSuggestions($event)"></span>
                    Why not try...
                </h1>
            </div>
        </div>
    </div>
    <div class="row" collapse="ctrl.sections.suggestions">
        <div class="col-lg-4" ng-repeat="game in suggestions = (ctrl.gameService.getVisibleGames() | search:ctrl.query | filter:ctrl.isInSuggestions | orderBy:ctrl.sorting)">
            <game game="game"
                  link-callback="ctrl.openLinkDialog(game)"
                  edit-callback="ctrl.editClick(game)">
            </game>
        </div>
    </div>
</div>
<div ng-show="queue.length > 0">
    <div class="row text-center">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 ng-click="ctrl.collapseSection('queue')" class="hand">
                    <span class="glyphicon pull-left collapse-icon glyphicon-chevron-{{ctrl.sections.queue ? 'right' : 'down'}}"></span>
                    Queue
                </h1>
            </div>
        </div>
    </div>
    <div class="row" collapse="ctrl.sections.queue">
        <div class="col-lg-4" ng-repeat="game in queue = (ctrl.gameService.getVisibleGames() | search:ctrl.query | filter:{queue_position: '!!'} | orderBy:'queue_position')">
            <game game="game"
                  link-callback="ctrl.openLinkDialog(game)"
                  edit-callback="ctrl.editClick(game)">
            </game>
        </div>
    </div>
</div>
<div ng-show="ctrl.filtered.length > 0">
    <div class="row text-center">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 ng-click="ctrl.collapseSection('all_games')" class="hand">
                    <span class="glyphicon pull-left collapse-icon glyphicon-chevron-{{ctrl.sections.all_games ? 'right' : 'down'}}"></span>
                    All Games
                </h1>
            </div>
        </div>
    </div>
    <div class="row" collapse="ctrl.sections.all_games">
        <div class="col-lg-12 text-center">
            <pagination total-items="ctrl.filtered.length"
                        items-per-page="ctrl.itemsPerPage"
                        num-pages="ctrl.pageCount"
                        boundary-links="false"
                        max-size="30"
                        rotate="false"
                        previous-text="&lt;"
                        next-text="&gt;"
                        first-text="{{1}}"
                        last-text="{{ctrl.pageCount}}"
                        ng-model="ctrl.currentPage"
                        class="game-pagination">
            </pagination>
        </div>
        <div class="col-lg-4" ng-repeat="game in ctrl.filtered = (ctrl.gameService.getVisibleGames() | search:ctrl.query | orderBy:ctrl.sorting) | offset:ctrl.offset | limitTo:ctrl.itemsPerPage" id="game{{game.id}}">
            <game game="game"
                  link-callback="ctrl.openLinkDialog(game)"
                  edit-callback="ctrl.editClick(game)">
            </game>
        </div>
        <div class="col-lg-12 text-center">
            <pagination total-items="ctrl.filtered.length"
                        items-per-page="ctrl.itemsPerPage"
                        num-pages="ctrl.pageCount"
                        boundary-links="false"
                        max-size="30"
                        rotate="false"
                        previous-text="&lt;"
                        next-text="&gt;"
                        first-text="{{1}}"
                        last-text="{{ctrl.pageCount}}"
                        ng-model="ctrl.currentPage"
                        class="game-pagination">
            </pagination>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-lg-12">
        <div class="page-header">
            <h1 ng-click="ctrl.collapseSection('statistics')" class="hand">
                <span class="glyphicon pull-left collapse-icon glyphicon-chevron-{{ctrl.sections.statistics ? 'right' : 'down'}}"></span>
                Statistics
            </h1>
        </div>
    </div>
</div>
<div class="row" collapse="ctrl.sections.statistics">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title overflow-ellipsis">
                    <span class="glyphicon glyphicon-stats"></span>
                    Miscellaneous
                </h1>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt style="width: 100px;">{{ctrl.gameService.getVisibleGames().length}}</dt>
                    <dd style="margin-left: 120px;" class="overflow-ellipsis">games</dd>
                    <dt style="width: 100px;">{{ctrl.countFinished()}}</dt>
                    <dd style="margin-left: 120px;" class="overflow-ellipsis">completed ({{ctrl.countFinishedPct()}}%)</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <ng-include src="'chart.html'"></ng-include>
    </div>
</div>
