<div class="row full-height">
    <div class="col-sm-4 list-column full-height" id="game-list">
        <div ng-show="!ctrl.filtered.length && !queue.length && !currentlyPlaying.length && !suggestions.length">
            <h1 class="text-center">No results</h1>
        </div>
        <div ng-show="currentlyPlaying.length > 0">
            <h1 class="text-center hand" ng-click="ctrl.collapseSection('currently_playing')">
                <span class="glyphicon pull-left collapse-icon glyphicon-chevron-{{ctrl.sections.currently_playing ? 'right' : 'down'}}"></span>
                Currently Playing
            </h1>
            <div class="list-group" collapse="ctrl.sections.currently_playing">
                <a class="list-group-item hand overflow-ellipsis"
                   ng-repeat="game in currentlyPlaying = (ctrl.gameService.games | search:ctrl.query | filter:{currently_playing: true} | orderBy:ctrl.sorting)"
                   ng-click="ctrl.gameSelected(game)"
                   ng-class="{active: game == ctrl.selectedGame, 'list-group-item-success': game.finished == 1}">
                    <div class="pull-right">
                        <span ng-style="{visibility: game.year ? 'visible' : 'hidden'}">({{game.year}})</span>
                        <span class="glyphicon glyphicon-time" ng-style="{visibility: game.hasPlaytime() ? 'visible' : 'hidden'}"></span>
                        <span ng-style="{visibility: game.hasRating() ? 'visible' : 'hidden'}">
                            <span class="glyphicon glyphicon-star"></span>{{game.rating || 0}}
                        </span>
                    </div>
                    <div class="overflow-ellipsis">
                        {{game.title}}
                    </div>
                </a>
            </div>
        </div>
        <div ng-show="!currentlyPlaying.length && suggestions.length > 0 && ctrl.canShowAuthenticatedMenuItems()">
            <h1 class="text-center hand" ng-click="ctrl.collapseSection('suggestions')">
                <span class="glyphicon pull-left collapse-icon glyphicon-chevron-{{ctrl.sections.suggestions ? 'right' : 'down'}}"></span>
                <span class="glyphicon pull-right collapse-icon glyphicon-refresh" ng-click="ctrl.refreshSuggestions($event)"></span>
                Why not try...
            </h1>
            <div class="list-group" collapse="ctrl.sections.suggestions">
                <a class="list-group-item hand overflow-ellipsis"
                   ng-repeat="game in suggestions = (ctrl.gameService.games | search:ctrl.query | filter:ctrl.isInSuggestions | orderBy:ctrl.sorting)"
                   ng-click="ctrl.gameSelected(game)"
                   ng-class="{active: game == ctrl.selectedGame, 'list-group-item-success': game.finished == 1}">
                    <div class="pull-right">
                        <span ng-style="{visibility: game.year ? 'visible' : 'hidden'}">({{game.year}})</span>
                        <span class="glyphicon glyphicon-time" ng-style="{visibility: game.hasPlaytime() ? 'visible' : 'hidden'}"></span>
                        <span ng-style="{visibility: game.hasRating() ? 'visible' : 'hidden'}">
                            <span class="glyphicon glyphicon-star"></span>{{game.rating || 0}}
                        </span>
                    </div>
                    <div class="overflow-ellipsis">
                        {{game.title}}
                    </div>
                </a>
            </div>
        </div>
        <div ng-show="queue.length > 0">
            <h1 class="text-center hand" ng-click="ctrl.collapseSection('queue')">
                <span class="glyphicon pull-left collapse-icon glyphicon-chevron-{{ctrl.sections.queue ? 'right' : 'down'}}"></span>
                Queue
            </h1>
            <div class="list-group" collapse="ctrl.sections.queue">
                <a class="list-group-item hand overflow-ellipsis"
                   ng-repeat="game in queue = (ctrl.gameService.games | search:ctrl.query | filter:{queue_position: '!!'} | orderBy:'queue_position')"
                   ng-click="ctrl.gameSelected(game)"
                   ng-class="{active: game == ctrl.selectedGame, 'list-group-item-success': game.finished == 1}">
                    <div class="pull-right">
                        <span ng-style="{visibility: game.year ? 'visible' : 'hidden'}">({{game.year}})</span>
                        <span class="glyphicon glyphicon-time" ng-style="{visibility: game.hasPlaytime() ? 'visible' : 'hidden'}"></span>
                        <span ng-style="{visibility: game.hasRating() ? 'visible' : 'hidden'}">
                            <span class="glyphicon glyphicon-star"></span>{{game.rating || 0}}
                        </span>
                    </div>
                    <div class="overflow-ellipsis">
                        {{game.title}}
                    </div>
                </a>
            </div>
        </div>
        <div ng-show="ctrl.filtered.length > 0">
            <h1 class="text-center hand" ng-click="ctrl.collapseSection('all_games')">
                <span class="glyphicon pull-left collapse-icon glyphicon-chevron-{{ctrl.sections.all_games ? 'right' : 'down'}}"></span>
                All Games
            </h1>
            <div class="list-group" collapse="ctrl.sections.all_games">
                <a class="list-group-item hand overflow-ellipsis" id="game{{game.id}}"
                   ng-repeat="game in ctrl.filtered = (ctrl.gameService.games | search:ctrl.query | orderBy:ctrl.sorting)"
                   ng-click="ctrl.gameSelected(game)"
                   ng-class="{active: game == ctrl.selectedGame, 'list-group-item-success': game.finished == 1}">
                    <div class="pull-right">
                        <span ng-style="{visibility: game.year ? 'visible' : 'hidden'}">({{game.year}})</span>
                        <span class="glyphicon glyphicon-time" ng-style="{visibility: game.hasPlaytime() ? 'visible' : 'hidden'}"></span>
                        <span ng-style="{visibility: game.hasRating() ? 'visible' : 'hidden'}">
                            <span class="glyphicon glyphicon-star"></span>{{game.rating || 0}}
                        </span>
                    </div>
                    <div class="overflow-ellipsis">
                        {{game.title}}
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-8 detail-column full-height">
        <game game="ctrl.selectedGame"
              genres="ctrl.gameService.genres"
              platforms="ctrl.gameService.platforms"
              tags="ctrl.gameService.tags"
              link-callback="ctrl.openLinkDialog(ctrl.selectedGame)"
              edit-callback="ctrl.editClick(ctrl.selectedGame)"
              show-edit="ctrl.gameService.authenticated && ctrl.selectedGame.user_id == ctrl.gameService.authenticatedUser.id"
              height="100%"
              ng-if="ctrl.selectedGame">
        </game>
        <div ng-if="!ctrl.selectedGame">
            <h3 class="text-center">Select a game</h3>
        </div>
        <h1 class="text-center hand" ng-click="ctrl.collapseSection('statistics')">
            <span class="glyphicon pull-left collapse-icon glyphicon-chevron-{{ctrl.sections.statistics ? 'right' : 'down'}}"></span>
            Statistics
        </h1>
        <div collapse="ctrl.sections.statistics">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title overflow-ellipsis">
                        <span class="glyphicon glyphicon-stats"></span>
                        Miscellaneous
                    </h1>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt style="width: 100px;">{{ctrl.gameService.games.length}}</dt>
                        <dd style="margin-left: 120px;" class="overflow-ellipsis">games</dd>
                        <dt style="width: 100px;">{{ctrl.countFinished()}}</dt>
                        <dd style="margin-left: 120px;" class="overflow-ellipsis">completed ({{ctrl.countFinishedPct()}}%)</dd>
                    </dl>
                </div>
            </div>
            <ng-include src="'chart.html'"></ng-include>
        </div>
    </div>
</div>
