<div class="modal-header">
    <h4 class="modal-title" ng-switch="property">
        <span ng-switch-when="queue_position">Manage Queue</span>
        <span ng-switch-when="wishlist_position">Manage Wishlist</span>
    </h4>
</div>
<form>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row" ng-if="error">
                <div class="col-md-12">
                    <div uib-alert class="alert-danger" close="closeAlert()">
                        {{error}}
                    </div>
                </div>
            </div>
            <div class="row" ng-if="!filteredGames.length">
                <div class="col-md-12" ng-switch="property">
                    <span ng-switch-when="queue_position">The queue is empty</span>
                    <span ng-switch-when="wishlist_position">The wishlist is empty</span>
                </div>
            </div>
            <div class="row" ng-repeat="game in filteredGames = (games | filter:filterObject | orderBy:property)">
                <div class="col-md-12">
                    <div class="form-group btn-group btn-group-xs pull-right">
                        <button class="btn btn-default" type="button" ng-click="moveUpClick(game)">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </button>
                        <button class="btn btn-danger" type="button" ng-click="removeClick(game)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button class="btn btn-default" type="button" ng-click="moveDownClick(game)">
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        </button>
                    </div>
                    <div class="overflow-ellipsis" title="{{game.title}}">
                        {{game[property] + 1}}. {{game.title}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="saveClick()">OK</button>
        <button type="button" class="btn btn-default" ng-click="cancelClick()">Cancel</button>
    </div>
</form>
