body, .panel {
    background-color: #333;
    color: #fff;
}
.list-group-item:not(.list-group-item-success):not(.active) {
    background-color: #333;
    border-color: #555;
}
.list-group-item:not(.list-group-item-success):not(.active):hover {
    background-color: #555;
    border-color: #555;
}
a.list-group-item:not(.list-group-item-success) {
    color: #fff;
}
.btn-default {
    background-color: #333;
    color: #fff;
    border-color: #666;
}
.btn-default:hover, .btn-default:focus {
    background-color: #555;
    color: #fff;
    border-color: #666;
}
.panel-default {
    border-color: #666;
}
.panel-default>.panel-heading {
    background-color: #555;
    color: #fff;
    border-color: #666;
}
.navbar-default {
    background-color: #555;
    border-color: #666;
}
.navbar-default .navbar-nav>li>a {
    color: #ddd;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #666;
    color: #ddd;
}
.dropdown-menu {
    background-color: #333;
}
.dropdown-menu>li>a {
    color: #fff;
}
.dropdown-menu>li>a:hover {
    color: #fff;
    background-color: #555;
}
.dropdown-menu .divider {
    background-color: #555;
}
.modal-content {
    background-color: #333;
}
.page-header {
    border-color: #555;
}
.pagination>li>a {
    background-color: #333;
    border-color: #666;
}
.pagination>li>a:hover, .pagination>li>a:focus {
    background-color: #555;
    color: #fff;
    border-color: #666;
}
.pagination>.disabled>a {
    color: #666;
    background-color: #333;
    border-color: #666;
}
.pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    background-color: #333;
    color: #666;
    border-color: #666;
}