<div class="modal-header">
    <h4 class="modal-title">
        Log In
    </h4>
</div>
<form name="form">
    <div class="modal-body">
        <div class="form-group" ng-class="{'has-error': loginError}">
            <input type="text" class="form-control" placeholder="Username" ng-model="loginForm.username" required>
        </div>
        <div class="form-group" ng-class="{'has-error': loginError}">
            <input type="password" class="form-control" placeholder="Password" ng-model="loginForm.password" required>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="loginClick()" ng-disabled="form.$invalid">Log in</button>
        <button type="button" class="btn btn-default" ng-click="cancelClick()">Cancel</button>
    </div>
</form>