<div class="modal-header">
    <h4 class="modal-title">
        Settings
    </h4>
</div>
<form name="form">
    <div class="modal-body">
        <div uib-alert class="alert-danger" close="closeAlert()" ng-if="error">
            Something went wrong. Did you enter your password correctly?
        </div>
        <h4>Change password</h4>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="New password" ng-model="model.new_password">
        </div>
        <h4>Default user</h4>
        <div class="form-group">
            <select class="form-control" ng-model="model.default_user_id" ng-options="user.id as user.username for user in gameService.users | orderBy:'username'"></select>
        </div>
        <h4>Giant Bomb API key</h4>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Giant Bomb API key" ng-model="model.giant_bomb_api_key">
        </div>
        <h4>Enter your password to save changes</h4>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" ng-model="model.old_password" required>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="saveClick()" ng-disabled="form.$invalid">Save</button>
        <button type="button" class="btn btn-default" ng-click="cancelClick()">Cancel</button>
    </div>
</form>
