<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title overflow-ellipsis">
            <span class="pull-left">
                <span class="glyphicon glyphicon-stats"></span>
                {{panelTitle}}
            </span>
            <span class="glyphicon hand pull-right" ng-class="{'glyphicon-sort-by-attributes': !descending, 'glyphicon-sort-by-attributes-alt': descending}" ng-click="descending = !descending"></span>
        </h1>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt ng-repeat-start="item in filtered = (items | filter:filterBy) | orderBy:orderBy:descending | offset:offset | limitTo:itemsPerPage" style="width: 100px;">
                {{item[key]}}
            </dt>
            <dd ng-repeat-end style="margin-left: 120px;" class="overflow-ellipsis">
                <a class="hand" ng-click="itemClicked(item)">{{item[value]}}</a>
            </dd>
        </dl>
        <div style="text-align: center;">
            <ul uib-pagination
                total-items="filtered.length"
                items-per-page="itemsPerPage"
                num-pages="pageCount"
                boundary-links="false"
                max-size="5"
                rotate="true"
                previous-text="&lt;"
                next-text="&gt;"
                ng-model="currentPage"
                ng-change="pageChanged()"
                class="pagination-sm">
            </ul>
        </div>
    </div>
</div>